# Ignore specific folders
.idea/
.asciidoctor/
[Bb]enchmark[Dd]ot[Nn]et.[Aa]rtifacts/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# When using AsciidoctorFx, it generates temporary images for any PlantUml diagrams you add.
# We don't need to store these, they will be recreated whenever the document is opened.
diag-plantuml-md5-*.png
diag-plantuml-md5-*.png.cache

# Do not save confidential environment files
*.private.env.json