@page "/"
@page "/Login"

<PageTitle>Login</PageTitle>

<EditForm Model="@this" OnSubmit="@HandleSubmit">
    <div class="mb-3" style="width: 20rem">
        <label class="form-label">
            Unieke code invoeren
        </label>
        <InputText @bind-Value="UniqueCode"
                   class="form-control ps-3"
                   placeholder="Geef uw unieke code in"/>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Invoeren</button>
        <button type="reset" class="btn btn-secondary">Leegmaken</button>
    </div>
</EditForm>
